<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频下载列表-Bili-download</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
<div class="index-page">
    <div class="main">

        <div class="search-result">

            <div class="video-info">
                <div id="video-result">

                    <div class="inner">

                        {% for item in videoList %}
                            <a id="itemtitle" href="javascript:void(0);" class="video-name">{{ item.title }}</a>
                            <input id="item-url" hidden="hidden" type="text" value="{{ item.video_list }}">
                            <input id="item-page" hidden="hidden" type="text" value="{{ item.page }}">
                            <input id="item-starturl" hidden="hidden" type="text" value="{{ item.start_url }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("a").click(function () {
        var form = $('<form action="/down_video/" method="post" target="_self" style="display: none"></form>');
        var video_download_url = $('<input type="text" name="video_download_url" style="display: none" />');
        var start_url = $('<input type="text" name="start_url"  style="display: none" />');
        var title = $('<input type="text" name="title"  style="display: none" />');

        title.attr('value', $(this).text());
        video_download_url.attr('value', $(this).next().val());
        start_url.attr('value', $(this).next().next().next().val());

        form.append(title);
        form.append(video_download_url);
        form.append(start_url);

        $(document.body).append(form);
        form.submit();

    });
</script>
</body>


</html>